.contacts {
   padding: 120px 0;
   background-color: var(--c-green-light);
}

.contacts__content {
   display: flex;
   flex-direction: column;
   gap: 50px;
}
.contacts__info{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 25px;
   max-width: 900px;
   width: 100%;
   margin: 0 auto;
}

.contacts__phone, .contacts__email{
   font-size: 1.5rem;
}

.contacts__email{
   margin-bottom: 2rem;
}

.contacts__phone{
   margin-bottom: 0.5rem;
}

.contacts__address{
   margin-bottom: 1rem;
}

.contacts__socials{
   display: flex;
   align-items: center;
      gap: 10px;
}

.contacts__socials-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
   background-color: var(--c-green);
   border-radius: 50%;
}

.contacts__socials-btn svg {
   fill: var(--c-white);
   width: 20px;
   height: 20px;
}

.contacts__form{
   display: flex;
   flex-direction: column;
   max-width: 460px;
   width: 100%;
}

.contacts__input,
.contacts__textarea {
   padding: 1rem;
   color: var(--c-black);
   background-color: var(--c-white);
   border: 1px solid var(--c-grey-dark);
   transition: 0.15s all linear;
}

.contacts__input.input-error, .contacts__textarea.input-error{
   border-color: var(--c-red);
}

.contacts__error, .contacts__success{
   line-height: 25px;
   height: 25px;
   font-size: 0.7rem;
} 

.contacts__error{
   color: var(--c-red);
}

.contacts__success{
   color: var(--c-green-bright);
   text-align: center;
}

.contacts__textarea{
   min-height: 120px;
}

.contacts__input::placeholder,
.contacts__textarea::placeholder {
   color: var(--c-grey-dark);
}

.contacts__input:hover,
.contacts__textarea:hover,
.contacts__input:focus,
.contacts__textarea:focus {
   border-color: var(--c-green);
}

@media screen and (max-width: 936px) {
   .contacts__info{
      align-items: center;
      flex-direction: column;
      text-align: center;
   }
   .contacts__socials{
      justify-content: center;
   }
}
