.partners {
   background-color: var(--c-green-light);
   padding: 120px 0;
}

.partners__title {
   margin-bottom: 60px;
}

.partners__items {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   gap: 25px;
}

.partners__items img {
   height: 100px;
   width: auto;
}

@media screen and (max-width: 400px) {
   .partners__items img {
      height: 75px;
   }
}
