.schedule {
   padding: 120px 0;
}

.schedule-wrapper {
   max-width: 1400px;
   margin: 0 auto;
   width: 100%;
   padding: 0 25px;
}

.schedule__content {
   display: flex;
   flex-direction: column;
   gap: 50px;
}

.schedule__title {
   font-size: 2.1rem;
   font-weight: 600;
   text-align: center;
}

.schedule__text {
   font-size: 1.2rem;
   text-align: center;
   font-weight: 300;
}

.schedule__items-container {
   display: flex;
   flex-direction: column;
   gap: 20px;
   overflow: hidden;
   transition: height 0.5s ease-in-out;
}

.schedule__items {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 40px;
}

/* hidden */

.schedule__items--hidden {
   display: none;
}

/* card */

.schedule__card {
   display: flex;
   gap: 20px;
   padding: 10px;
   border-radius: 10px;
   color: var(--c-black);
   transition: all 0.15s linear;
}

.schedule__card:hover {
   background-color: rgba(255, 213, 43, 0.15);
}

.schedule__card-img {
   width: 230px;
   aspect-ratio: 1.6 / 1;
   overflow: hidden;
   border-radius: 15px;
   flex-shrink: 0;
}

.schedule__card-img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.schedule__card-content {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 25px;
   flex-grow: 1;
}

.schedule__card-header {
   display: flex;
   justify-content: space-between;
   gap: 22px;
   font-weight: 500;
}

.schedule__card-title {
   font-size: 1rem;
   font-weight: 600;
   margin-bottom: 0.5rem;
}

.schedule__card-city {
   font-size: 0.7rem;
}

.schedule__card-time,
.schedule__card-date {
   white-space: nowrap;
   text-align: right;
   font-size: 0.9rem;
}

.schedule__card-desc {
   max-width: 500px;
   font-size: 0.9rem;
   font-weight: 300;
}

.schedule__show-more-btn {
   align-self: center;
   color: var(--c-white);
}

@media screen and (max-width: 1310px) {
   .schedule__items {
      grid-template-columns: 1fr;
   }
}

@media screen and (max-width: 680px) {
   .schedule__items {
      grid-template-columns: 1fr 1fr;
      gap: 10px;
   }
   .schedule__card,
   .schedule__card-header {
      flex-direction: column;
   }
   .schedule__card{
      padding: 5px;
   }
   .schedule__card-img {
      width: 100%;
   }
   .schedule__card-content{
      gap: 10px;
   }
   .schedule__card-title{
      font-size: 0.8rem;
      margin-bottom: 0;
   }
   .schedule__card-desc{
      font-size: 0.7rem;
      margin-top: auto;
      font-weight: 400;
   }
   .schedule__card-city{
      font-weight: 400;
   }
   .schedule__card-header{
      display: contents;
      gap: 10px;
   }
   .schedule__card-header-left{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 5px;
      order: 5;

   }
   .schedule__card-time,
   .schedule__card-date {
      text-align: left;
   }
}

@media screen and (max-width: 460px) {
   .schedule__items {
      grid-template-columns: 1fr;
   }
}
