:root {
   --c-yellow: #d7b430;
   --c-yellow-dark: #ffbb00;
   --c-white: #fff;
   --c-black: #000;
   --c-grey: #e5e5e5;
   --c-grey-dark: #a7a7a7;
   --c-red-light: #f54f4f;
   --c-green: #a7d1ab; 
   --c-green-light: #f5faf5;
   --c-blue-light: #577ca1;
   --c-grey-bg: #f1f1f1;
}
